.audio-sections {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 90%;
  max-width: 1110px;
}

.audio-books-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.audios-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}

@media screen and (min-width: 768px) {
  .audios-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 30px;
  }
}

.link-item {
  text-decoration: none;
  margin-bottom: 48px;
  width: 350px;
  flex-grow: 0;
  flex-shrink: 1;
  margin-right: 20px;
  color: black;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .link-item {
    width: 300px;
  }
}

@media screen and (min-width: 1440px) {
  .link-item {
    width: 330px;
  }
}

.audio-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;
}

.thumbnail {
  width: 100%;
  max-height: 350px;
  border-radius: 6px;
}

.title {
  color: #171f46;
  font-family: "Roboto";
  font-size: 21px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 8px;
}

.author {
  color: #594d6d;
  font-family: "Roboto";
  font-size: 18px;
  margin-bottom: 6px;
}

.order-details {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 2px;
}

.price {
  color: #171f46;
  font-family: "Roboto";
  font-size: 17px;
  font-weight: 700;
  margin: 0;
}

.rating-container {
  display: flex;
  align-items: center;
  /* background-color: #3b82f6; */
  background-color: #fc4d0f;
  border-radius: 6px;
  padding: 6px 16px;
}

.rating {
  color: #ffffff;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  margin-right: 4px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.star {
  height: 20px;
  width: 20px;
  margin-bottom: 3px;
}

.search-sort-by-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 20px 0;
}

@media screen and (min-width: 768px) {
  .search-sort-by-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px 30px 50px 0;
  }
}

.search-input-container {
  display: flex;
  align-items: center;
  background-color: #f1f5f9;
  border-radius: 8px;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 16px;
}

.search-input-container:hover {
  outline: 1px solid #fc4d0f;
}

.search-input {
  background-color: #f1f5f9;
  color: #0f172a;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
  border: none;
  outline: none;
  flex-grow: 1;
}

@media screen and (min-width: 768px) {
  .search-input {
    width: 300px;
  }
}

.search-icon {
  color: #fc4d0f;
  width: 20px;
  height: 20px;
}

.sort-by-container {
  display: flex;
  align-items: center;
}

.sort-by-icon {
  font-size: 24px;
  color: #475569;
  margin-right: 6px;
}

.sort-by {
  color: #475569;
  font-family: "Roboto";
  font-size: 16px;
}

.sort-by-select {
  color: #475569;
  background-color: #ffffff;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  border: none;
  padding: 12px;
  outline: none;
  cursor: pointer;
}

.select-option {
  color: #fc4d0f;
  font-family: "Roboto";
  font-size: 14px;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .similar-product-item {
    width: 200px;
    margin-right: 64px;
  }
}

.similar-product-image {
  width: 200px;
  border-radius: 8px;
}

.similar-product-title {
  color: #171f46;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 6px;
}

.similar-products-brand {
  color: #594d6d;
  font-family: "Roboto";
  font-size: 16px;
  margin-top: 6px;
}

.similar-product-price-rating-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
}

.similar-product-price {
  color: #171f46;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 700;
}

.similar-product-rating-container {
  display: flex;
  align-items: center;
  background-color: #3b82f6;
  border-radius: 6px;
  padding-left: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 8px;
}

.similar-product-rating {
  color: #ffffff;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
  margin-right: 4px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.similar-product-star {
  height: 14px;
  width: 14px;
}
