<div class="order-details-success-view">
  <div class="audio-details-container">
    <img
      src="https://m.media-amazon.com/images/I/51c4H3VBciL._SL500_.jpg"
      alt="audio"
      class="audio-image"
    />
    <div class="audio">
      <h1 class="audio-name">Title</h1>
      <p class="price-details">Rs Price/-</p>
      <div class="rating-and-reviews-count">
        <div class="rating-container">
          <p class="rating">Rating</p>
          <img
            src="https://assets.ccbp.in/frontend/react-js/star-img.png"
            alt="star"
            class="star"
          />
        </div>
        <p class="reviews-count">totalReviews Reviews</p>
      </div>
      <p class="audio-description">description</p>
      <div class="label-value-container">
        <p class="label">Available:</p>
        <p class="value">availability</p>
      </div>
      <div class="label-value-container">
        <p class="label">Brand:</p>
        <p class="value">brand</p>
      </div>
      <hr class="horizontal-line" />
      <div class="quantity-container">
        <button type="button" class="quantity-controller-button">
          <!-- <BsDashSquare class="quantity-controller-icon" /> -->
        </button>
        <p class="quantity">quantity</p>
        <button type="button" class="quantity-controller-button">
          <!-- <BsPlusSquare class="quantity-controller-icon" /> -->
        </button>
      </div>
      <button type="button" class="add-to-cart-btn">ADD TO CART</button>
    </div>
  </div>
</div>
